:root { /* Deixa fixa as cores que utilizei mais de uma vez */
    --title-color: #322153;
    --primary-color: #34cb79;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: #f0f0f5;
    -webkit-font-smoothing: antialiased; /* Deixa a fonte mais suavisada */
}

a {
    text-decoration: none; /* Elimina o sublinhado */
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Ubuntu', sans-serif;
    color: var(--title-color);
}
